@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --Primary-Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Neutral-Dark-gray: hsl(0, 0%, 59%);
}
ul {
  list-style: none;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
  background: url(../Imgs/bg-pattern-top.svg) calc(47vw - 976px)
      calc(70vh - 976px),
    url(../Imgs/bg-pattern-bottom.svg) 50vw 50vh;
  background-repeat: no-repeat;
  background-color: var(--Primary-Dark-cyan);
}
.card {
  margin-top: 30px; /*to normalize with attribution*/
  width: 360px;
  height: 390px;
  max-width: 95%;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  box-shadow: 0px 8px 40px 0 hsl(229deg 23% 23% / 41%);
  overflow: hidden;
  position: relative;
  cursor: default;
}
.card .top {
  width: 100%;
  height: 147px;
  background-image: url(../Imgs/bg-pattern-card.svg);
  display: flex;
  justify-content: center;
  position: relative;
}
.card .top img {
  align-self: flex-end;
  width: 100px;
  height: 100px;
  margin-bottom: -52px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 4px solid white;
  transition: 0.19s;
  -webkit-transition: 0.19s;
  -moz-transition: 0.19s;
  -ms-transition: 0.19s;
  -o-transition: 0.19s;
  cursor: pointer;
}
.card .top img:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  animation-name: BorderC;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes BorderC {
  0% {
    border-color: #2486d6;
  }
  25% {
    border-color: #00bcd4;
  }
  50% {
    border-color: #295cbf;
  }
  75% {
    border-color: #00bcd4;
  }
  100% {
    border-color: #2486d6;
  }
}
.card .info {
  background-color: white;
  text-align: center;
  height: calc(390px - 147px);
}
.main_info {
  height: 153px;
}
.main_info .name {
  padding-top: 80px;
  font-weight: 700;
  font-size: 18px;
  color: var(--Very-dark-desaturated-blue);
}
.main_info span {
  color: var(--Neutral-Dark-gray);
  font-weight: 500;
  margin-left: 5px;
}
.main_info address {
  font-style: normal;
  color: var(--Neutral-Dark-gray);
  margin-top: 10px;
  font-size: 14px;
}
.foot_info {
  border-top: 1px solid var(--Neutral-Dark-gray);
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
}
.foot_info ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.foot_info ul li .num {
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
  font-size: 20px;
}
.foot_info ul li .noun {
  margin: 5px;
  font-size: 10px;
  color: var(--Neutral-Dark-gray);
  letter-spacing: 1.5px;
}
.attribution {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  color: whitesmoke;
}
.attribution a {
  color: rgb(0, 52, 194);
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
}
.attribution a:hover {
  color: var(--Very-dark-desaturated-blue);
  text-decoration: underline;
}
